<nav class="navbar p-2">
    <a class="logo">
        <img class="logo mr-2 p-0" src="/assets/small_logo.png">
        <span class="title text-alto-white pl-3">Outcome Comparison - COVID</span>
    </a>
</nav>
<div class="input-block container-fluid">
    <div class="row">
        <div class="col m-5 rounded-lg bg-river-bed">
            <div class="row py-3">
                <h2 class="col mb-0">Patient Criteria</h2>
                <span class="col text-right">~ 1.2M patients</span>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Gender</h3>
                <div class="input-group radios bg-candlelight-lighter rounded-bottom p-3">
                    <input type="radio" id="gender-all" name="gender" class="p-2">
                    <label class="pl-2 pr-4 mb-0" for="gender-all">All</label>
                    <input type="radio" id="gender-male" name="gender" class="p-2">
                    <label class="pl-2 pr-4 mb-0" for="gender-male">Male</label>
                    <input type="radio" id="gender-female" name="gender" class="p-2">
                    <label class="pl-2 pr-4 mb-0" for="gender-female">Female</label>
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Disorder</h3>
                <div class="input-group bg-candlelight-lighter rounded-bottom p-3">
                    <input class="rounded-pill p-1 px-3 w-100" placeholder="Search for Concept...">
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Compare Outcome</h3>
                <div class="input-group bg-candlelight-lighter rounded-bottom p-3">
                    <input class="rounded-pill p-1 px-3 mb-3 w-100" placeholder="Search for Concept...">
                    <input class="rounded-pill p-1 px-3 w-100" placeholder="Search for Concept...">
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">No Comorbidities</h3>
                <span class="col count text-right">~ 5.4k patients</span>
                <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter rounded-bottom">Control Group</h3>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">Diabetes</h3>
                <span class="col count text-right">~ 1.2k patients</span>
                <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter">Finding</h3>
                <div class="input-group bg-sea-buckthorn-lighter rounded-bottom px-3">
                    <input class="rounded-pill p-1 px-3 mb-3 w-100" placeholder="Search for Concept...">
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">Hypertension</h3>
                <span class="col count text-right"></span>
                <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter">Finding</h3>
                <div class="input-group bg-sea-buckthorn-lighter rounded-bottom px-3">
                    <input class="rounded-pill p-1 px-3 mb-3 w-100" placeholder="Search for Concept...">
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">Hypertension, not Obesity</h3>
                <span class="col count text-right"></span>
                <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter">Finding</h3>
                <div class="input-group bg-sea-buckthorn-lighter rounded-bottom px-3">
                    <input class="rounded-pill p-1 px-3 mb-3 w-100" placeholder="Search for Concept...">
                </div>
            </div>

            <div class="mb-4 text-right">
                <button class="button add bg-fruit-salad rounded-pill px-3 py-1">ADD</button>
            </div>

            <div class="mb-4 text-center">
                <button class="button show-insight bg-fruit-salad rounded-lg p-3">SHOW INSIGHT</button>
            </div>
        </div>
        <div class="col-8 p-3">
            <div class="p-3 m-3 rounded-lg">GRAPH GOES HERE</div>
        </div>
    </div>
</div>
<footer class="footer">
    <a class="px-3 float-right text-ghost-grey" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>
</footer>

