<app-snomed-navbar></app-snomed-navbar>
<main class="container">
    <div class="row">
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-black"><h3 class="mb-0 text-white">BLACK</h3></div>
            <div class="p-3 m-3 rounded-lg bg-white"><h3 class="mb-0">WHITE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-river-bed-darker"><h3 class="mb-0">RIVER BED</h3></div>
            <div class="p-3 m-3 rounded-lg bg-river-bed"><h3 class="mb-0">RIVER BED</h3></div>
            <div class="p-3 m-3 rounded-lg bg-river-bed-lighter"><h3 class="mb-0">RIVER BED</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-hit-grey-darker"><h3 class="mb-0">HIT GREY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-hit-grey"><h3 class="mb-0">HIT GREY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-hit-grey-lighter"><h3 class="mb-0">HIT GREY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-athens-grey-darker"><h3 class="mb-0">ATHENS GREY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-athens-grey"><h3 class="mb-0">ATHENS GREY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-athens-grey-lighter"><h3 class="mb-0">ATHENS GREY</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-blumine-darker"><h3 class="mb-0">BLUMINE</h3></div>
            <div class="p-3 m-3 rounded-lg bg-blumine"><h3 class="mb-0">BLUMINE</h3></div>
            <div class="p-3 m-3 rounded-lg bg-blumine-lighter"><h3 class="mb-0">BLUMINE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-cerulean-darker"><h3 class="mb-0">CERULEAN</h3></div>
            <div class="p-3 m-3 rounded-lg bg-cerulean"><h3 class="mb-0">CERULEAN</h3></div>
            <div class="p-3 m-3 rounded-lg bg-cerulean-lighter"><h3 class="mb-0">CERULEAN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-anakiwa-darker"><h3 class="mb-0">ANAKIWA</h3></div>
            <div class="p-3 m-3 rounded-lg bg-anakiwa"><h3 class="mb-0">ANAKIWA</h3></div>
            <div class="p-3 m-3 rounded-lg bg-anakiwa-lighter"><h3 class="mb-0">ANAKIWA</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-wisteria-darker"><h3 class="mb-0">WISTERIA</h3></div>
            <div class="p-3 m-3 rounded-lg bg-wisteria"><h3 class="mb-0">WISTERIA</h3></div>
            <div class="p-3 m-3 rounded-lg bg-wisteria-lighter"><h3 class="mb-0">WISTERIA</h3></div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-mandy-darker"><h3 class="mb-0">MANDY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-mandy"><h3 class="mb-0">MANDY</h3></div>
            <div class="p-3 m-3 rounded-lg bg-mandy-lighter"><h3 class="mb-0">MANDY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-sea-buckthorn-darker"><h3 class="mb-0">SEA BUCKTHORN</h3></div>
            <div class="p-3 m-3 rounded-lg bg-sea-buckthorn"><h3 class="mb-0">SEA BUCKTHORN</h3></div>
            <div class="p-3 m-3 rounded-lg bg-sea-buckthorn-lighter"><h3 class="mb-0">SEA BUCKTHORN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-candlelight-darker"><h3 class="mb-0">CANDLELIGHT</h3></div>
            <div class="p-3 m-3 rounded-lg bg-candlelight"><h3 class="mb-0">CANDLELIGHT</h3></div>
            <div class="p-3 m-3 rounded-lg bg-candlelight-lighter"><h3 class="mb-0">CANDLELIGHT</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-3 m-3 rounded-lg bg-fruit-salad-darker"><h3 class="mb-0">FRUIT SALAD</h3></div>
            <div class="p-3 m-3 rounded-lg bg-fruit-salad"><h3 class="mb-0">FRUIT SALAD</h3></div>
            <div class="p-3 m-3 rounded-lg bg-fruit-salad-lighter"><h3 class="mb-0">FRUIT SALAD</h3></div>
        </div>
    </div>
</main>
<app-snomed-footer></app-snomed-footer>
