<nav class="navbar p-2">
    <a class="logo">
        <img class="logo mr-2 p-0" src="/assets/small_logo.png">
        <span class="title text-alto-white pl-3">Outcome Comparison - COVID</span>
    </a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="input-block col m-5 rounded-lg bg-river-bed">
            <div class="row py-3">
                <h2 class="col mb-0">Patient Criteria</h2>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Gender</h3>
                <span *ngIf="comparison?.cohort" class="col count text-right">{{comparison.cohort | number:'1.0-0'}} patients</span>
                <span *ngIf="!comparison?.cohort" class="col count text-right">-</span>
                <div class="input-group radios bg-candlelight-lighter rounded-bottom p-3">
                    <input type="radio" id="gender-all" name="gender" class="p-2"
                           [checked]="comparison.gender === null"
                           (change)="changeGender(null)">
                    <label class="pl-2 pr-4 mb-0" for="gender-all">All</label>
                    <input type="radio" id="gender-male" name="gender" class="p-2"
                           [checked]="comparison.gender === 'MALE'"
                           (change)="changeGender('MALE')">
                    <label class="pl-2 pr-4 mb-0" for="gender-male">Male</label>
                    <input type="radio" id="gender-female" name="gender" class="p-2"
                           [checked]="comparison.gender === 'FEMALE'"
                           (change)="changeGender('FEMALE')">
                    <label class="pl-2 pr-4 mb-0" for="gender-female">Female</label>
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Disorder</h3>
                <div class="input-group bg-candlelight-lighter rounded-bottom p-3">
                    <input class="rounded-pill p-1 px-3 w-100"
                           placeholder="Search for Concept..."
                           [(ngModel)]="comparison.disorder.ecl"
                           (change)="changeDisorder(comparison.disorder.ecl)"
                           [ngbTypeahead]="search">
                </div>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">No Comorbidities</h3>
                <span *ngIf="comparison?.disorder?.cohort" class="col count text-right">{{comparison?.disorder?.cohort | number:'1.0-0'}} patients</span>
                <span *ngIf="!comparison?.disorder?.cohort" class="col count text-right">-</span>
                <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter rounded-bottom">Control Group</h3>
            </div>

            <ng-container *ngFor="let comorbidity of comparison.comorbidities">
                <div class="colour-cell mb-4">
                    <h3 class="col p-3 mb-0 lighter bg-sea-buckthorn rounded-top">{{comorbidity.name ? comorbidity.name : '-'}}</h3>
                    <span *ngIf="comorbidity?.patientCount" class="col count text-right">{{comorbidity?.patientCount | number:'1.0-0'}} patients</span>
                    <span *ngIf="!comorbidity?.patientCount" class="col count text-right">-</span>
                    <h3 class="col p-3 mb-0 bg-sea-buckthorn-lighter">Finding</h3>
                    <div class="input-group bg-sea-buckthorn-lighter px-3">
                        <ng-container *ngFor="let refinement of comorbidity.refinements">
                            <input class="rounded-pill p-1 px-3 mb-3 w-100"
                                   placeholder="Search for Concept..."
                                   [(ngModel)]="refinement.ecl"
                                   (change)="changeComorbidity(comorbidity)"
                                   [ngbTypeahead]="search">
                        </ng-container>
                    </div>
                    <div class="bg-sea-buckthorn-lighter rounded-bottom text-right px-3 pb-3">
                        <button class="button add bg-fruit-salad rounded-pill px-3"
                                (click)="addRefinement(comorbidity)">ADD</button>
                    </div>
                </div>
            </ng-container>

            <div class="mb-4 text-right">
                <button class="button add bg-fruit-salad rounded-pill px-3"
                        (click)="addComorbidity()">ADD COMORBIDITY</button>
            </div>

            <div class="colour-cell mb-4">
                <h3 class="col p-3 mb-0 bg-candlelight rounded-top">Compare Outcome</h3>
                <h3 class="col p-3 mb-0 bg-candlelight-lighter">Comparators</h3>
                <div class="input-group bg-candlelight-lighter px-3">
                    <ng-container *ngFor="let comparator of comparison.comparators">
                        <input class="rounded-pill p-1 px-3 mb-3 w-100"
                               placeholder="Search for Concept..."
                               [(ngModel)]="comparator.ecl"
                               [ngbTypeahead]="search">
                    </ng-container>
                </div>
                <div class="bg-candlelight-lighter rounded-bottom text-right px-3 pb-3">
                    <button class="button add bg-fruit-salad rounded-pill px-3"
                            (click)="addComparator()">ADD</button>
                </div>
            </div>

            <div class="mb-4 text-center">
                <button class="button show-insight bg-fruit-salad rounded-lg p-3">SHOW INSIGHT</button>
            </div>
        </div>
        <div class="graph-block col-8 m-5">
            <!--<p>384151000119104</p>-->
            <!--<p>566571000119105</p>-->
            <!--<p>122548005</p>-->
            <!--<div class="p-3 m-3 rounded-lg">{{comparison | json}}</div>-->
            <ngx-charts-bar-vertical-2d
                [scheme]="colorScheme"
                [results]="fakeData"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [yAxisLabel]="'Patients'"
                [legendTitle]="'Key'"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
</div>
<footer class="footer">
    <a class="px-3 float-right text-ghost-grey" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>
</footer>

