////////////////////////////////////////////////////////////////////////
// WHITE ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$white: #FFFFFF;
.text-white {
    color: $white;
}
.bg-white {
    background-color: $white;
}

$alto-white: #E0E0E0;
.text-alto-white {
    color: $alto-white;
}
.bg-alto-white {
    background-color: $alto-white;
}

////////////////////////////////////////////////////////////////////////
// GREY ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$ghost-grey: #C8CFD6;
.text-ghost-grey {
    color: $ghost-grey;
}
.bg-ghost-grey {
    background-color: $ghost-grey;
}

$grey: #808080;
.text-grey {
    color: $grey;
}
.bg-grey {
    background-color: $grey;
}

$slate-grey: #708090;
.text-slate-grey {
    color: $slate-grey;
}
.bg-slate-grey {
    background-color: $slate-grey;
}

$river-bed: #434A55;
.text-river-bed {
    color: $river-bed;
}
.bg-river-bed {
    background-color: $river-bed;
}

////////////////////////////////////////////////////////////////////////
// BLACK ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$black: #000000;
.text-black {
    color: $black;
}
.bg-black {
    background-color: $black;
}

////////////////////////////////////////////////////////////////////////
// RED /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$mandy: #EB4C59;
.text-mandy {
    color: $mandy;
}
.bg-mandy {
    background-color: $mandy;
}

////////////////////////////////////////////////////////////////////////
// GREEN ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$fruit-salad: #4EA24E;
.text-fruit-salad {
    color: $fruit-salad;
}
.bg-fruit-salad {
    background-color: $fruit-salad;
}

////////////////////////////////////////////////////////////////////////
// BLUE ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$anakiwa: #C3E7FE;
.text-anakiwa {
    color: $anakiwa;
}
.bg-anakiwa {
    background-color: $anakiwa;
}

$cerulean: #49A8DB;
.text-cerulean {
    color: $cerulean;
}
.bg-cerulean {
    background-color: $cerulean;
}

$blumine: #124F6B;
.text-blumine {
    color: $blumine;
}
.bg-blumine {
    background-color: $blumine;
}

////////////////////////////////////////////////////////////////////////
// ORANGE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$sea-buckthorn: #F8A73D;
.text-sea-buckthorn {
    color: $sea-buckthorn;
}
.bg-sea-buckthorn {
    background-color: $sea-buckthorn;
}

////////////////////////////////////////////////////////////////////////
// YELLOW //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$candlelight: #FBDB13;
.text-candlelight {
    color: $candlelight;
}
.bg-candlelight {
    background-color: $candlelight;
}

////////////////////////////////////////////////////////////////////////
// PURPLE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$wisteria: #A060AE;
.text-wisteria {
    color: $wisteria;
}
.bg-wisteria {
    background-color: $wisteria;
}
